In [8]:
import pandas as pd

df = pd.read_csv('csv/broadcast.csv', index_col=0)
condition = df["KBS"] > 30
df.loc[condition, "KBS"]

2011    35.951
2012    36.163
2013    31.989
2014    31.210
Name: KBS, dtype: float64

In [10]:
import pandas as pd

df = pd.read_csv('csv/broadcast.csv', index_col=0)
condition = df["SBS"] < df["TV CHOSUN"]
df.loc[condition, ["SBS","TV CHOSUN"]]

        SBS  TV CHOSUN
2014  9.108      9.440
2015  9.099      9.940
2016  8.669      9.829
2017  8.661      8.886